jsonschema
regex
random2

# Progress bar 
tqdm

numpy
pandas
scikit-learn
scipy

# NLP libraries 
nltk
sacremoses
rouge-score
bert-score
evaluate
datasets
sentence-transformers
rank-bm25

# Hugging Face Transformers & PEFT 
transformers
peft
accelerate
bitsandbytes
torch
faiss-cpu
#faiss-gpu

requests
urllib3
certifi
charset-normalizer
idna
packaging
python-dateutil
pytz
PyYAML
tzdata
six
pickle5

# Interface
streamlit

